:root {
  --content-width: 95%;
}

@media (min-width: 576px) {
  /* This is here just for reference. The styles are above. */
}

@media (min-width: 768px) {
  :root {
    --content-width: 90%;
  }
}

@media (min-width: 992px) {
  :root {
    --content-width: 85%;
  }
}

@media (min-width: 1200px) {
  :root {
    --content-width: 992px;
  }
}

body {
  margin: 0;
}
